
<header class="mainPage">
    <button class="button-fn"><span class="content">Explore<span></button>
    <h1>enjoy the music</h1>
</header>
<div class="body-content">
 <div>body......loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas   
     
 </div>
 <div ><b>yo honey singh!!</b> loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas 
     loren epsum loren ipsum erontas loren epsum loren ipsum erontas
 </div>
    </div>

    <div class="landing-elements">
        
        <figure class="play-opac">
            <div class="play-Button">
                <span >
                    <i class="fa fa-play-circle-o fa-4x" aria-hidden="true"></i>
                </span>
                </div>
            <!--<audio controls="controls">
                <source src="app/audio/Banarasiya.mp3" type="audio/mp3">
            </audio>-->
            </figure>
            <figure>
                <div class="play-Button">
                    <span >
                    <i class="fa fa-play-circle-o fa-4x" aria-hidden="true"></i>
                </span>
                </div>
            <!--<audio controls="controls">
                <source src="app/audio/Banarasiya.mp3" type="audio/mp3">
            </audio>-->
            </figure>
            <figure>
                <div class="play-Button">
                    <span >
                    <i class="fa fa-play-circle-o fa-4x" aria-hidden="true"></i>
                </span>
                </div>
            <!--<audio controls="controls">
                <source src="app/audio/Banarasiya.mp3" type="audio/mp3">
            </audio>-->
            </figure>
            <figure>
                <div class="play-Button">
                   <span>
                    <i class="fa fa-play-circle-o fa-4x" aria-hidden="true"></i>
                </span>
                </div>
            <!--<audio controls="controls">
                <source src="app/audio/Banarasiya.mp3" type="audio/mp3">
            </audio>-->
            </figure>
    </div>
    <audio-play ng-transclude></audio-play>
    <!--<div class="music-player">
        
                <div class="spinner-wrap">
                    <div class="spinner-outer">
                        <img src="https://raw.githubusercontent.com/DevTips/Animated-Music-Player/master/assets/img/spinner-outer.png"
                        width="200" height="100"></img>
                    
                    <div class="spinner-center">
                        <img src="https://raw.githubusercontent.com/DevTips/Animated-Music-Player/master/assets/img/spinner-center.png"
                        width="144" height="76"></img>
                    </div>
                    <div class="play-spirite">
                        <img src="https://raw.githubusercontent.com/DevTips/Animated-Music-Player/master/assets/img/play-sprite.png"
                        width="56" height="37"></img>
                    </div>
                    </div>
                    </div>
            <audio  loop="loop" data-bpm="86">
                <source src="https://raw.githubusercontent.com/DevTips/Animated-Music-Player/master/assets/songs/jamsauce.mp3"
                type="audio/mp3">
                <source src="https://raw.githubusercontent.com/DevTips/Animated-Music-Player/master/assets/songs/jamsauce.ogg"
                type="audio/ogg">
            </audio>-->
            
        </div>
   